.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
}

.navbar-brand-hello {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    color: cadetblue;
}
  
.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.navbar-dark .navbar-brand{
    color: white !important;
}
  
div {
    margin: 8px;
}

img {
    margin-left: 20px;
    margin-right: 15px;
}